:root {
    --color-document-blue: #2471A3;
}

.container {
    width: 900px;
    max-width: 900px;
    padding: 0;
}

body {
    font-size: 12px;
}

#logo {
    background-color: var(--color-document-blue);
    color: white;
    border-radius: 5px;
}

#head-doc {
    display: flex;
    justify-content: space-between;
}

.btn-generate-pdf {
    margin-bottom: 32px;
}

.color-gray {
    background-color: #555;
    color: white;
}

tr .color-gray {
    background-color: #555;
    color: white;
}

tr .color-gray:nth-child(7), .total td:nth-child(1) {
    border-bottom-left-radius: 5px;
}

tr .color-gray:nth-child(8) {
    border-bottom-right-radius: 5px;
}

.table2 {
    width: 100%;
    margin-bottom: 20px;
}

td, tr, th {
    padding: 10px;
}

.table2 tbody tr.total td {
    background-color: #666;
    color: white;
}

.table2, .table2 tr, .table2 th, .table2 td {
    border: none;
}

.table2 th, .table2 td   {
    text-align: center;
}

/* .table tbody tr:nth-of-type(odd) {
    background-color: #5DADE2;
    color: white;
}

.table tbody tr:nth-of-type(even) {
    background-color: #5dade293;
    color: white;
} */

.table2 tbody tr {
    background-color: rgb(240, 240, 240);
}

.table2 tbody tr.nfe {
    background-color: transparent;
}

.input-file {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 32px;
    width: 500px;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

#generatePDF {
    margin: 32px 0 0 0;
    display: none;
}

.title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 30px;
    font-weight: 700;
}

#jmx {
    width: 100px;
    position: relative;
    top: 10px;
    left: 10px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.form-select {
    width: 100px;
}

.date {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 14px;
    font-weight: 900;
    border-radius: 5px 5px 0 0;
}

@page {
    size: landscape;
}

@media print {
    html, body {
        font-size: 12px;   
    }

    h5 {
        font-size: 18px;
    }
    
    .container {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}


