:root {
    --color-document-blue: #2471A3;
}

.container {
    width: 900px;
    max-width: 900px;
    padding: 0;
}

body {
    font-size: 12px;
}

#logo {
    color: #222;
    border-radius: 5px;
    border: 1px solid #222;
    margin-bottom: 10px;
}

#head-doc {
    display: flex;
    justify-content: space-between;
}

.btn-generate-pdf {
    margin-bottom: 32px;
}

.color-gray, .color-gray2, .table2 tbody .trThhead {
    background-color: #b1aeae;
}


tr .color-gray {
    background-color: #b1aeae;
}

.color-gray:nth-child(7), .total td:nth-child(1) {
    border-bottom-left-radius: 5px;
}

.color-gray:nth-child(8), .total2 td:last-child {
    border-bottom-right-radius: 5px;
}

.color-gray2 th:nth-child(1) {
    border-top-left-radius: 5px;
}

.color-gray2 th:last-child {
    border-top-right-radius: 5px;
}

.table2 {
    width: 100%;
    margin-bottom: 20px;
}

td, tr, th {
    padding: 10px;
}

.table2 tbody tr.total td {
    background-color: #b1aeae;
}

.table2, .table2 tr, .table2 th, .table2 td {
    border: none;
}

.table2 th, .table2 td   {
    text-align: center;
}

.table2 tbody tr {
    background-color: rgb(240, 240, 240);
}

.table2 tbody tr.nfe {
    background-color: transparent;
}

.input-file {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 32px;
    width: 500px;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

#generatePDF {
    margin: 32px 0 0 0;
    display: none;
}

.title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 30px;
    font-weight: 700;
}

#jmx {
    width: 100px;
    position: relative;
    top: 10px;
    left: 10px;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.form-select {
    width: 100px;
}

.date {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #d1d0d0;
    font-size: 14px;
    font-weight: 900;
    border-radius: 5px 5px 0 0;
}

.head-date-nfe {
    width: 100%; 
    display: flex;
    position: relative;
    padding: 10px;
    background-color: #d1d0d0;
    font-size: 14px;
    font-weight: 900;
    border-radius: 5px 5px 0 0;
    justify-content: space-around;
}

.selects {
    display: flex;
}

.sel {
    margin-left: 10px;
}

@page {
    size: auto;
    margin: 15mm;
}


