.container {
    width: 720px;
    max-width: 720px;
    padding: 0;
}

body {
    font-size: 12px;
}

.table th  {
    text-align: center;
}

.input-file {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 32px;
    width: 500px;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

#generatePDF {
    margin: 32px 0 0 0;
    display: none;
}

.title {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    bottom: 13px;
    font-weight: 700;
}

#jmx {
    width: 100px;
    position: relative;
    top: 25px;
}

.content {
    width: 720px;
    margin: 0 auto;
}

p {
    margin: 0;
}

p.material {
    position: relative;
    left: calc(100% - 80%); 
}

p.data, #total {
    position: relative;
    left: calc(100% - 90%);
}

p.oc {
    position: relative;
    left: calc(100% - 90%);
}

p.quantidade {
    position: relative;
    left: calc(100% - 65%);
}

p.valor-unitario {
    position: relative;
    left: calc(100% - 70%);
}

p.valor {
    position: relative;
    left: calc(100% - 80%);
}

@page {
    size: A4;
    margin: 40px 60px;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;    
        font-size: 10px;   
    }

    h5 {
        font-size: 24px;
    }
    
    .container {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}


